<div id="${_id}" class="modal-bg modal-${type}">
    <div class="modal-window">
        <div class="modal-header">
            <h1>${header}</h1>
            <i data-function="close" class="close"></i>
            </div>
        <div class="modal-body">
            <span>${body}</span>
        </div>
        <div class="modal-footer">
            <div class="loader"></div>
            <input type="button" class="button button-continue" value="${button}" />
            <input type="button" data-function="close" class="button" value="Cancel">
        </div>
    </div>
</div>