@import "../lib/colors"
@import "../lib/css3"
@import "../lib/util"

.button 
	color black
	background-linear-gradient(top, #fff, 0, #efefef, 100%);
	border-radius(1px)
	no-decoration()
	box-shadow 0 0 2px asbestos
	font-size 12px
	line-height 12px
	font-family 'Droid-sans', sans-serif
	padding 5px
	margin: 0 5px
	border 0
	cursor pointer
	&:hover
		background-linear-gradient(top, #fff, 0, lighten(#efefef, 50%), 100%);
	&.flat
		background clouds
		box-shadow(none)
		&:hover
			background: lighten(clouds, 50%)

.button-large
	@extend .button
	padding 15px 30px
	text-align center
	inline-block()
	font-size 24px
	line-height 24px

.button-medium
	@extend .button
	font-size 14px
	line-height 14px
	padding 10px 15px
	
.button-small
	@extend .button
	font-size 10px
	line-height 10px
	
.button-link
	@extend .button
	color belize_hole
	background transparent
	border 0
	border-radius(0)
	box-shadow none
	&:hover
		color peter_river
		text-decoration underline
		background: transparent
	&.flat
		background transparent
		&:hover
			background transparent
		
.button-continue
	@extend .button
	background-linear-gradient(top, emerald, 0, nephritis, 100%)
	color white
	&.flat
		background nephritis
		box-shadow none
		&:hover
			background emerald
	&:hover
		background-linear-gradient(top, lighten(emerald, 10%), 0, lighten(nephritis, 10%), 100%)
		color white
		
.button-primary
	@extend .button
	color white
	background-linear-gradient(top, peter_river,0, belize_hole, 100%)
	&:hover
		background-linear-gradient(top, lighten(peter_river, 10%), 0, lighten(belize_hole, 10%), 100%)
		color white
	&.flat
		background belize_hole
		&:hover
			background peter_river

.button-warning
	@extend .button
	color white
	background-linear-gradient(top, alizarin,0, pomegranate, 100%)
	&:hover
		background-linear-gradient(top, lighten(alizarin, 10%), 0, lighten(pomegranate, 10%), 100%)
		color white
	&.flat
		background alizarin
		&:hover
			background pomegranate
	