.button,
.button-large,
.button-medium,
.button-small,
.button-link,
.button-continue,
.button-primary,
.button-warning {
  color: #000;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #fff 0, #efefef 100%);
  background-image: -moz-linear-gradient(top, #fff 0, #efefef 100%);
  background-image: -ms-linear-gradient(top, #fff 0, #efefef 100%);
  background-image: -o-linear-gradient(top, #fff 0, #efefef 100%);
  background-image: linear-gradient(top, #fff 0, #efefef 100%);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  text-decoration: none;
  -webkit-box-shadow: 0 0 2px #7f8c8d;
  -moz-box-shadow: 0 0 2px #7f8c8d;
  -ms-box-shadow: 0 0 2px #7f8c8d;
  -o-box-shadow: 0 0 2px #7f8c8d;
  box-shadow: 0 0 2px #7f8c8d;
  font-size: 12px;
  line-height: 12px;
  font-family: 'Droid-sans', sans-serif;
  padding: 5px;
  margin: 0 5px;
  border: 0;
  cursor: pointer;
}
.button:hover,
.button-large:hover,
.button-medium:hover,
.button-small:hover,
.button-link:hover,
.button-continue:hover,
.button-primary:hover,
.button-warning:hover {
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #fff 0, #f7f7f7 100%);
  background-image: -moz-linear-gradient(top, #fff 0, #f7f7f7 100%);
  background-image: -ms-linear-gradient(top, #fff 0, #f7f7f7 100%);
  background-image: -o-linear-gradient(top, #fff 0, #f7f7f7 100%);
  background-image: linear-gradient(top, #fff 0, #f7f7f7 100%);
}
.button.flat,
.button-large.flat,
.button-medium.flat,
.button-small.flat,
.button-link.flat,
.button-continue.flat,
.button-primary.flat,
.button-warning.flat {
  background: #ecf0f1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.button.flat:hover,
.button-large.flat:hover,
.button-medium.flat:hover,
.button-small.flat:hover,
.button-link.flat:hover,
.button-continue.flat:hover,
.button-primary.flat:hover,
.button-warning.flat:hover {
  background: #f5f8f8;
}
.button-large {
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 24px;
  line-height: 24px;
}
.button-medium {
  font-size: 14px;
  line-height: 14px;
  padding: 10px 15px;
}
.button-small {
  font-size: 10px;
  line-height: 10px;
}
.button-link {
  color: #2980b9;
  background: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.button-link:hover {
  color: #3498db;
  text-decoration: underline;
  background: transparent;
}
.button-link.flat {
  background: transparent;
}
.button-link.flat:hover {
  background: transparent;
}
.button-continue {
  background-color: #2ecc71;
  background-image: -webkit-linear-gradient(top, #2ecc71 0, #27ae60 100%);
  background-image: -moz-linear-gradient(top, #2ecc71 0, #27ae60 100%);
  background-image: -ms-linear-gradient(top, #2ecc71 0, #27ae60 100%);
  background-image: -o-linear-gradient(top, #2ecc71 0, #27ae60 100%);
  background-image: linear-gradient(top, #2ecc71 0, #27ae60 100%);
  color: #fff;
}
.button-continue.flat {
  background: #27ae60;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.button-continue.flat:hover {
  background: #2ecc71;
}
.button-continue:hover {
  background-color: #40d47f;
  background-image: -webkit-linear-gradient(top, #40d47f 0, #2cc66d 100%);
  background-image: -moz-linear-gradient(top, #40d47f 0, #2cc66d 100%);
  background-image: -ms-linear-gradient(top, #40d47f 0, #2cc66d 100%);
  background-image: -o-linear-gradient(top, #40d47f 0, #2cc66d 100%);
  background-image: linear-gradient(top, #40d47f 0, #2cc66d 100%);
  color: #fff;
}
.button-primary {
  color: #fff;
  background-color: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db 0, #2980b9 100%);
  background-image: -moz-linear-gradient(top, #3498db 0, #2980b9 100%);
  background-image: -ms-linear-gradient(top, #3498db 0, #2980b9 100%);
  background-image: -o-linear-gradient(top, #3498db 0, #2980b9 100%);
  background-image: linear-gradient(top, #3498db 0, #2980b9 100%);
}
.button-primary:hover {
  background-color: #48a2df;
  background-image: -webkit-linear-gradient(top, #48a2df 0, #2e90d0 100%);
  background-image: -moz-linear-gradient(top, #48a2df 0, #2e90d0 100%);
  background-image: -ms-linear-gradient(top, #48a2df 0, #2e90d0 100%);
  background-image: -o-linear-gradient(top, #48a2df 0, #2e90d0 100%);
  background-image: linear-gradient(top, #48a2df 0, #2e90d0 100%);
  color: #fff;
}
.button-primary.flat {
  background: #2980b9;
}
.button-primary.flat:hover {
  background: #3498db;
}
.button-warning {
  color: #fff;
  background-color: #e74c3c;
  background-image: -webkit-linear-gradient(top, #e74c3c 0, #c0392b 100%);
  background-image: -moz-linear-gradient(top, #e74c3c 0, #c0392b 100%);
  background-image: -ms-linear-gradient(top, #e74c3c 0, #c0392b 100%);
  background-image: -o-linear-gradient(top, #e74c3c 0, #c0392b 100%);
  background-image: linear-gradient(top, #e74c3c 0, #c0392b 100%);
}
.button-warning:hover {
  background-color: #e95e50;
  background-image: -webkit-linear-gradient(top, #e95e50 0, #d24435 100%);
  background-image: -moz-linear-gradient(top, #e95e50 0, #d24435 100%);
  background-image: -ms-linear-gradient(top, #e95e50 0, #d24435 100%);
  background-image: -o-linear-gradient(top, #e95e50 0, #d24435 100%);
  background-image: linear-gradient(top, #e95e50 0, #d24435 100%);
  color: #fff;
}
.button-warning.flat {
  background: #e74c3c;
}
.button-warning.flat:hover {
  background: #c0392b;
}
