@import "../lib/colors"
@import "../lib/css3"
@import "../lib/positions"
@import "../lib/util"

.modal-window
	background #ccc
	background rgba(0,0,0,0.7)
	absolute(top, left)
	width 100%
	height 100%
	text-align center
	z-index 999
	font-family sans-serif
	&:after
		content ''
		inline-block()
		height 100%
		margin-right -0.25em
		vertical-align middle

.modal
	background clouds
	margin 0 auto
	inline-block()
	relative()
	min-width 500px
	border-radius(1px)
	box-shadow(0 0 5px midnight_blue)
	& > div
		box-sizing: border-box
	&.drop
		animation(drop 0.5s)
	&.drop-up
		animation(drop-up 0.5s)
	&.slide-from-left
		animation(slide-from-left 0.5s)
	&.slide-from-right
		animation(slide-from-right 0.5s)
	&.pop-up
		animation(pop-up 0.5s)
		
	
.modal-header
	height 50px
	width 100%
	padding 5px
	text-align center
	color midnight_blue
	border-bottom 5px midnight_blue solid
	position relative
	& h3
		font-size 24px
		line-height 36px
		font-weight bold
		margin 0
	& .close
		close()
	
.modal-body
	min-height 200px
	padding 5px
	width 100%
	color black
	text-align left

.modal-footer
	height 50px
	width 100%
	padding 5px
	
@keyframes drop
	0%
		top -300px
		opacity 0
	100%
		top 0px
		opacity 1
		
@keyframes drop-up
	0%
		top 300px
		opacity 0
	100%
		top 0px
		opacity 1
		
@keyframes slide-from-left
	0%
		right 300px
		opacity 0
	100%
		right 0px
		opacity 1
		
@keyframes slide-from-right
	0%
		left 300px
		opacity 0
	100%
		left 0px
		opacity 1
		
@keyframes pop-up
	0%
		transform(scale(0.5))
		opacity 0
	100%
		transform(scale(1))
		opacity 1
	

	